._btn1_1tljh_1{background-color:orange;border:2px solid brown;color:#fff}._btn2_1tljh_13{background-color:red;border:2px solid green;color:#ff0}._btn3_1tljh_25{background-color:brown;border:2px solid yellowgreen;color:orange}
